* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-color: rgb(225, 252, 252);
    height: 100vh;
    gap: 2rem;
}

.container .h1 {
    font-size: 50px;
    text-align: center;
}


.separator {
   padding: 0 10px;
}

.milliseconds {
    font-size: 30px;
}

.numbers {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: rgb(21, 21, 110);
}

#number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 90px;
}


.buttons {
    display: flex;
    gap: 30px;
}

.btn {
    font-size: 30px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btnstart {
    background-color: blue;
    color: white;
    font-size: 30px;
}

.btnreset {
    background-color: white;
}

.btnreset:hover {
    background-color: red;
}



.btnresume, .btnpause {
    display: none;
}